.navbar {
    background-color: #fff !important;
    border-bottom: solid 1px #ccc;
}

#page-content {
    overflow-x: hidden;
}

.change-password-title,
.profile-title,
.login-title {
    width: 100%;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    color: #424242;
}

.profile-title,
.change-password-title {
    font-size: 22px;
    font-weight: 500;
}

#login-container {
    margin-top: 10%;
    display: flex;
    justify-content: center;
}

#login-container #form-container {
    flex-grow: 0.5 !important;
}


.card-body .report-desc {
    color: #888;
}

.card-report-link:hover {
    text-decoration: unset;
}