.navbar {
    background-color: #fff !important;
    /* border-bottom: solid 1px #ccc; */
}

#page-content {
    overflow-x: hidden;
    padding-top: 6.5em;
}

.change-password-title,
.profile-title,
.login-title {
    width: 100%;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    color: #424242;
}

.profile-title,
.change-password-title {
    font-size: 22px;
    font-weight: 500;
}

#login-container {
    display: flex;
    justify-content: center;
}

#login-container #form-container {
    flex-grow: 0.5 !important;
}


.card-body .report-desc {
    color: #888;
}

.card-report-link:hover {
    text-decoration: unset;
}

.home .card:hover {
    border-color: #1976d2;
}

nav.navbar {
    position: fixed;
    width: 100%;
    margin: 0 0 auto 0;
    z-index: 1024!important;
    background-color: var(--gfg-tint-color);
    box-shadow: 0 15px 10px -15px #1111112b;
}